<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dashboard - Canadian Rental Market</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style>
    .custom-select {
        position: relative;
        font-family: Arial;
        width:200px;
    }
  </style>
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="jumbotron text-center" style="margin-bottom: 0px;">
        <h1>Canadian Rental Market</h1>
        <p>Use interactive charts below to explore the dataset</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div>
            <h2>Filters</h2>
        </div>
        <div>
            <button type="button" class="btn btn-primary" onclick="renderChart('Alta')" style="width:200px">Alta</button></br></br>
            <button type="button" class="btn btn-primary" onclick="renderChart('B.C.')" style="width:200px">B.C</button></br></br>
            <button type="button" class="btn btn-primary" onclick="renderChart('Ont.')" style="width:200px">Ont.</button></br></br>
            <button type="button" class="btn btn-primary" onclick="renderChart('Que')" style="width:200px">Que</button></br></br>
            <button type="button" class="btn btn-primary" onclick="renderChart('Man.')" style="width:200px">Man.</button></br></br>
        </div>
      </div>
      <div class="col-md-9" style="height:500px;">
        <div><canvas id="chart" style="width:100%"></canvas></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 bg-info"><div id='leaflet'><center><h1>Place holder for Leaflet</h1></center></div></div>
    </div>
  </div>

  <!-- D3 JS -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <!-- Chart JS -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <!-- Leaflet JS -->
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
  <!-- <script type="text/javascript" src="{{ url_for('static', filename='../js/app.js') }}"></script> -->
  <script src="../static/js/app.js"></script>
  
</body>

</html>
