<!DOCTYPE html>
<html>
    <head>
        <title>Rental Market Dashboard</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    </head>
    <body>
        <div>
            <select id="yearSelect" onchange="updateYear()"></select>
            <select id="provinceSelect" onchange="updateProvince()"></select>
            <select id="neighbourhoodSelect" onchange="updateNeighbourhood()"></select>
        </div>
        <div id="charts"></div>
        <script src="https://d3js.org/d3.v6.min.js"></script>
        <script src="/static/js/script.js"></script>
    </body>
</html>


