<!DOCTYPE html>
<html>
<head>
    <title>Data Visualization</title>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="static/js/script.js"></script>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div>
        <label for="yearSelect">Select Year:</label>
        <select id="yearSelect"></select>
    </div>
    <div>
        <label for="provinceSelect">Select Province:</label>
        <select id="provinceSelect"></select>
    </div>
    <div id="bar"></div>
    <div id="pie"></div>
</body>
</html>


