<!DOCTYPE html>
<html>
<head>
    <title>Data Visualization</title>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
    <div id="container">
        <select id="yearSelect"></select>
        <select id="provinceSelect"></select>
        <select id="neighborhoodSelect"></select>
        <div id="bar"></div>
        <div id="pie"></div>
    </div>
    <script src="static/js/script.js"></script>
</body>
</html>


