body {
    background-color: lightcyan;
  }
  .row {
    color:darkred;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    
  }
  div p {
    color: darkred;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-weight: bolder;
  }
  div h5 {
    color: black;
    text-align: center;
    font-family :'Times New Roman', Times, serif;
    font-weight: bolder;
    
  }
  .panel-title{
    color: black;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-weight: bolder;
    
  }
  